<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>  

    <div class="profile-container" *ngIf="user">
        <div class="search-container">
            <a class="search-icon"></a>
            <input type="text" class="search-input" placeholder="Search...">
        </div>
        
        <div class="profile-header">
            <img src={{user?.avatar_url}} alt="User's Profile Picture" class="profile-picture">
            <h1 class="profile-name">{{user?.name}}</h1>
            <div class="profile-bio-container"><h1 class="profile-bio">Bio: {{user?.bio}}</h1>
            <p class="profile-bio"><b>Followers: {{user?.followers}}</b></p>
            <p class="profile-bio"><b>Following: {{user?.following}}</b></p>
            <h2 style="font-size: smaller;"><b>Public Repository: {{user?.public_repos}}</b></h2>
        </div>
        </div>
            
            <div class="repositories" *ngIf="repo">
            <ul>
                <li><b>{{repo[1]?.name}}</b>
                    <br>
                    <label>{{repo[1]?.description}}</label>
                </li>
                <li><b>{{repo[2]?.name}}</b>
                    <br>
                    <label>{{repo[2]?.description}}</label>
                </li>
                <li><b>{{repo[3]?.name}}</b>
                    <br>
                    <label>{{repo[3]?.description}}</label>
                </li>
                
                <li><b>{{repo[4]?.name}}</b>
                    <br>
                    <label>{{repo[4]?.description}}</label>
                </li>
                <li><b>{{repo[5]?.name}}</b>
                    <br>
                    <label>{{repo[5]?.description}}</label>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
