.profile-container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    max-height: 700px;
    text-align: center;
    padding: 20px;
    flex-direction: column; 
    font-size: 14px;
}
.profile-bio-container{
    text-align: left;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-name {
    font-size: 24px;
    margin: 10px 0;
}

.profile-bio {
    font-size: 14px;
    color: #000000;
}
.profile-follow{
    font-size: 14px;
    color: #000000;
    cursor: pointer;

}
.repositories {
    text-align: left;
}

.repositories h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.repositories ul {
    list-style: none;
    padding: 0;
}

.repositories li {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .profile-container {
        width: 100%;
        max-width: 90%;
    }
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px; 
    transition: width 0.5s ease; 
}

.search-icon {
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/768px-Magnifying_glass_icon.svg.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    right: 10px;
    z-index: 1;
    transition: right 0.5s ease; 
}

.search-input {
    width: 0;
    height: 35px;
    padding: 0 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    outline: none;
    transition: width 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.search-container:hover {
    width: 200px; 
}

.search-container:hover .search-icon {
    right: 170px; 
}

.search-container:hover .search-input {
    width: 100%;
    padding: 0 40px 0 15px;
    opacity: 1;
    visibility: visible;
}


.repositories {
    max-height: 250px; 
    overflow-y: auto;  
    border: 1px solid #ddd; 
    padding: 10px; 
}

.repositories ul {
    list-style-type: none; 
    padding: 0;
}

.repositories li {
    margin-bottom: 10px; 
}


.user-list-container {
    max-height: 800px; 
    overflow-y: auto; 
    border: 1px solid #ddd; 
    padding: 10px; 
    background-color: #f9f9f9; 
  }


.user-list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.user-list-container li {
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
  }
  
.user-list-container img {
    border-radius: 50%; 
    margin-right: 10px; 
  }
  .button-container {
    display: flex;
    justify-content: flex-end; 
    padding: 0; 
    margin: 0; 
  }
.button-22 {
    align-items: center;
    appearance: button;
    background-color: #06458e;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: auto;
  }
  
  .button-22:active {
    background-color: #006AE8;
  }
  
  .button-22:hover {
    background-color: #1C84FF;
  }

  .button-unfollow {
    background-color: #e53935; 
    color: #fff;
}

.button-unfollow:hover {
    background-color: #d32f2f;
}

  .loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #162e68;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}

  
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .list-group-item {
    display: flex;
    align-items: center;
  }
  
  .ms-2 {
    margin-left: 8px;
  }
  .modal-body {
    max-height: 600px; 
    overflow-y: auto;
}
.button-type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}



