/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 600px;
    max-height: 700px;
    text-align: center;
    padding: 20px;
}
.profile-bio-container{
    text-align: left;
}

.profile-header {
    margin-bottom: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-name {
    font-size: 24px;
    margin: 10px 0;
}

.profile-bio {
    font-size: 14px;
    color: #000000;
}

.follow-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.follow-toggle {
    display: none;
}

.follow-toggle:checked + .follow-btn {
    background-color: #dc3545;
    content: 'Unfollow';
}

.follow-toggle:checked + .follow-btn::after {
    content: 'Unfollow';
}

.follow-btn::after {
    content: 'Follow';
}

.repositories {
    text-align: left;
}

.repositories h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.repositories ul {
    list-style: none;
    padding: 0;
}

.repositories li {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .profile-container {
        width: 100%;
        max-width: 90%;
    }
}


.repositories {
    max-height: 400px; 
    overflow-y: auto;  
    border: 1px solid #ddd; 
    padding: 10px; 
}

.repositories ul {
    list-style-type: none; 
    padding: 0;
}

.repositories li {
    margin-bottom: 10px; 
}


.parent-container {
    display: flex;
    justify-content: flex-end; 
    padding: 0; 
    margin: 0; 
  }
.button-22 {
    align-items: center;
    appearance: button;
    background-color: #0156b7;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: auto;
  }
  
  .button-22:active {
    background-color: #006AE8;
  }
  
  .button-22:hover {
    background-color: #1C84FF;
  } */