<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>  

    <div class="profile-container" *ngIf="user">
        <div class="profile-header">
            <img src={{user?.avatar_url}} alt="User's Profile Picture" class="profile-picture">
            <h1 class="profile-name">{{user?.name}}</h1>
            <div class="profile-bio-container"><h1 class="profile-bio">Bio: {{user?.bio}}</h1>
            <p class="profile-bio"><b>Followers: {{user?.followers}}</b></p>
            <p class="profile-bio"><b>Following: {{user?.following}}</b></p>              
            <h2 style="font-size: smaller;"><b>Public Repository: {{user?.public_repos}}</b></h2>
        </div>
        <div class="parent-container">
            <button class="button-22" role="button">Follow</button>
            </div>
        </div>
            
        <div class="repositories" *ngIf="repo && repo.length">
            <ul>
                <li *ngFor="let r of repo; let i = index">
                    <b>{{r?.name}}</b>
                    <br>
                    <label>{{r?.description}}</label>
                </li>
            </ul>
        </div>
        
    </div>
</body>
</html> -->
